/*header*/
header{
	background-image: url(../img/bg-equipo2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  color:#fff;
}

ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: #fff;

}

a:hover {
  text-decoration: none;
  color: #00ffed;
  text-transform: uppercase;
}

.hamburger{
  display: none;
}

.hamburger:hover{
	color: #00ffed;
	font-size: 1.9em;
}

.menu{
	background-color: #000820;
	height: 5em;
}

.navegador{
  text-align: right;
}

.pag{
  background-color: #544945;
  padding: 100px 0px 100px 0;
  background-color: rgba(0,0,0,0.5);
  height: 16em;
}

.contact p{
  margin :0;
  font-size: 0.8em;
}

.logo{
	color:#00ffed;
  text-align: left;
  padding-left: 1em;
}

/*imagen*/
img{
	width: 100%;
}

/*botones*/
button{
  color: #fff;
  background: #000820;
  font-size: 0.8em;
  padding: 1em;
  border: none;
  border-radius: 10px;
}

button:hover{
	background: #00ffed;
	color: #000820;
}

/*footer*/
footer{
	background-color: #000820;
	height: 5em;
	color: #fff;
	margin-top: 5em;
}

footer p{
	text-align: center;
	color: #fff;
	font-size: 0.7em;
}